body {
  margin: 0em;
}

.App-main {
  background-color: darkgrey;
  width: 100%;
  height: 100%;
}

.navBar {
  background-color: rgb(181, 194, 204);
  border-width: 2rem;
  border-color: black;
}

.leftColumn {
  background-color: bisque;
  width: 20%;
  border-width: 2rem;
  border-color: black;
}

.detailView {
  margin-left: 25rem;
  background-color: blue;
  color: aliceblue;
}

